form{
    display: flex;
    flex-direction: column;
    width: 15vw ;
    row-gap: 1.2em;
    background-color: #6c0277;
    color:antiquewhite;
    padding: 2em;
}

.background {
    width: 620px;
    height: 350px;
    display: block;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid grey;
  }
  
  .card-header {
    background-color: #ffffff;
    height: 150px;
    text-align: right;
    font-size: 40px;
    padding: 10px;
    font-weight: 600;
    color: #6c0277;
  }
  
  .name {
    font-size: 60px;
    padding: 1px;
    font-weight: 600;
    color: #ffffff;
  }
  
  .card {
    height: 400px;
    margin-top: 15px;
    border: 3px solid white;
    background-color: #6c0277;
    padding: 30px;
    color: white;
    text-align: left;
    font-weight: 500;
  }
  
  .info {
    color: antiquewhite;
    margin-top: 20px;
    text-align: left;
    font-weight: 15px;
    font-size: 20px;
  }

  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
  }
  